[is='flynt-block-text-image-crop'] {
  background-color: #beccca;
  min-height: calc(100vh - 178px);
  overflow: hidden;
  padding: 0;

  @media (min-width: $breakpoint-tablet-horizontal) {
    padding: $component-spacing-desktop 0;
  }

  .box {
    @media (max-width: $breakpoint-tablet-horizontal) {
      display: flex;
      flex-flow: column-reverse wrap;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      display: flex;
      flex-direction: row-reverse;
      height: calc(100vh - 178px);
      margin-top: 0;

      .figure-caption {
        color: $color-background;
        text-align: left;
        transform: translateY(-125px);
        width: 200px;

        &::before {
          content: '➞';
          display: block;
        }
      }

      .box-contentWrapper {
        margin-left: auto;
      }
    }

    &-inner {
      &--image {
        position: relative;

        @media (min-width: $breakpoint-tablet-horizontal) {
          width: 55%;
        }
      }

      &--content {
        padding: $gutter-width $container-padding-mobile;

        @media (min-width: $breakpoint-tablet-horizontal) {
          padding: $container-padding-tablet;
          width: 45%;
        }

        @media (min-width: $breakpoint-tablet-horizontal) {
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          padding: ($container-padding-tablet * 2) $container-padding-tablet;
        }

        @media (min-width: $breakpoint-tablet-horizontal) {
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          padding: ($container-padding-tablet * 2) $container-padding-tablet;
        }

        @media (min-width: $breakpoint-desktop-wide) {
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          padding: ($container-padding-tablet * 2) 0;
        }
      }
    }

    &-contentWrapper {
      @include reset-content-margins;
      max-width: 640px;
    }

    .figure-caption {
      color: $color-background;

      &::before {
        content: '➞';
        display: block;
      }
    }
  }

  .figure {
    margin: 0;

    @media (min-width: $breakpoint-tablet-horizontal) {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &-image {
      font-family: 'object-fit: cover';
      height: 100%;
      mix-blend-mode: multiply;
      object-fit: contain;
      object-position: 50% 50%;
      width: 100%;

      @media (min-width: $breakpoint-tablet-horizontal) {
        transform: translateX(200px);
      }
    }

    &-caption {
      padding: 0 $container-padding-mobile;
    }
  }
}
