<div class="flyntComponent componentSpacing {{ options.theme }}" id="{{ sectionTitle|e }}" is="title" style="background-color: {{ backgroundColor|e }};">
  <div class="container centerMaxWidthContainerNav">
    {% if sectionTitle %}
      <h1 class="sectionTitle">{{ sectionTitle|e }}</h1>
    {% endif %}
  </div>
</div>
