[is='flynt-block-wysiwyg2'] {

  height: auto;
  
  .content {
    @include reset-content-margins;

    column-gap: 140px;
    display: grid;
    grid-template-columns: 1fr;
    
    text-align: inherit;

    &--textLeft {
      text-align: left;

      img {
        height: auto;
        width: 100%;
      }
    }

    &--textCenter {
      text-align: center;
    }

    > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      grid-template-columns: 1fr 1fr;
    }

  }

  .centerContentMaxWidth {
    margin-left: 0;
    max-width: 1440px;
  }

  @media (min-width: $breakpoint-tablet) {
    .centerMaxWidthContainer {
      // padding-left: 0;
      // padding-right: 0;
    }
  }
  
  
}
